# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
.package/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Other
*.dsym
.DS_Store

# Firebase
GoogleService-Info.plist


# macOS metadata
.DS_Store
*.xcuserstate
